@import url(https://weloveiconfonts.com/api/?family=entypo);


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.DatePickerInput {
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}





